html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body { line-height: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

nav ul { list-style: none; }

blockquote, q {	quotes: none; }
blockquote:before, blockquote: after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

mark {
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;	
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {	vertical-align: middle; }


/********* [[ End of Reset ]] *********/

body {
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}
	#head {}
		#head .top {
			background: #161617;
			height: 85px;
		}
		#head form {
			float: right;
		}
		
		#head nav {
			overflow: hidden;
			background: #184961;
			border-top: 1px solid #3e7a98;
			border-bottom: 1px solid #3e7a98;
			height: 40px;
		}
			#head nav ul {
				display: table;
				margin: 0 auto;
			}	
				#head nav li {
					float: left;
					text-transform: uppercase;
					font-size: 15px;
					line-height: 40px;
				}
					#head nav li:first-of-type a { padding-left: 5px; }
					#head nav li:last-of-type a { padding-right: 5px; }
					#head nav a {
						padding: 0 20px;
						color: #fff;
						text-decoration: none;
					}
					
	#metaline {
		overflow: hidden;
		padding: 15px 10px;
	}
		#metaline .countdown {
			float: left;
		}
		#metaline .job-offer {
			float: right;
		}
	
	
	#mainframe {
		border: 1px solid #000;
	}
	
	
	#foot-nav {
		border: 1px solid #000;
		overflow: hidden;
		margin-top: 20px;
	}
	
		#foot-nav li {
			float: left;
		}
			#foot-nav li li { float: none; }