html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body { line-height: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { 
	display: block;
}

nav ul { list-style: none; }

blockquote, q {	quotes: none; }
blockquote:before, blockquote: after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

mark {
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;	
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {	vertical-align: middle; }


/********* [[ End of Reset ]] *********/

body {
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
	padding-bottom: 40px;
	background: #0a1d26;
}
a {
	color: #184961;
	text-decoration: none;
}
a:hover {
	color: #458bad;
}
p, td {
	line-height: 1.4;
	color: #3d3d3d;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	color: #0a1d26;
}


#wrapper {
	width: 962px;
	margin: 0 auto;
}
	#head {
		background: url(gfx/shadow.png) repeat-x bottom left;
		padding-bottom: 5px;
	}
		#head .top {
			background: #161617;
			height: 84px;
		}
			#head h1 {
				float: left;
			}
				#head h1 a {
					text-indent: -9999px;
					width: 171px;
					height: 83px;
					margin-left: 40px;
					display: block;
					background: url(gfx/slagkraft-logo.png) no-repeat;
				}
				#head h2 {
					text-indent: -9999px;
					width: 365px;
					height: 80px;
					display: block;
					float: left;
					margin-left: 45px;
					background: url(gfx/where-and-when.png) no-repeat;
				}
			
		#head form {
			float: right;
		}
		
		#head nav {
			background: #184961;
			border-top: 1px solid #3e7a98;
			border-bottom: 1px solid #3e7a98;
			height: 40px;
			clear: both;
			position: relative;
		}
			#head nav ul {
				display: table;
				margin: 0 auto;
			}	
				#head nav li {
					float: left;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 42px;
				}

					#head nav a {
						padding: 0 15px;
						color: #fff;
						display: block;
						text-decoration: none;
						height: 39px;
					}
					#head nav a:hover {
						background: #123d52;
					}
			#head nav .english {
				width: 21px;
				height: 21px;
				position: absolute;
				right: 5px;
				top: 9px;
				text-indent: -9999px;
				background: url(gfx/graphics.png) no-repeat -309px -1px;
				z-index: 5;
				cursor: pointer;
			}
			#head nav .english:hover {
				background: url(gfx/graphics.png) no-repeat -333px -1px;
			}
				#head nav .english:hover a {
					background: transparent;
				}
			
		#head form {
			margin: 20px;
		}
			#head form span {
				color: #fff;
				display: block;
				font-size: 13px;
				margin-bottom: 5px;
			}
			#head form input[type="text"] {
				border: 1px solid #979797;
				-moz-border-radius: 5px;
				background: #414141;
				padding: 5px;
				width: 200px;
				color: #ddd;
				font-style: italic;
				-moz-box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, .5);
			}
			#head form input[type="text"]:focus {
				background: #707070;
				font-style: normal;
			}
				
	#metaline {
		overflow: hidden;
		padding: 10px 10px;
	}
		#metaline .countdown {
			float: left;
			color: #ebebeb;
			font-size: 12px;
		}
			#metaline .countdown b { color: #fff; }
			
		#metaline .job-offer {
			float: right;
			color: #ebebeb;
			font-size: 14px;
		}
			#metaline .job-offer a {
				color: #b82f14;
			}
	
	
	#mainframe {
		border: 1px solid #000;
		position: relative;
		width: 960px;
		background: #fff;
		background: #fff url(gfx/black-dot.png) repeat-y 719px 0;
	}
		#featured {
			height: 228px;
			overflow: hidden;
			width: 599px;
			position: relative;
		}

			#featured p {
				position: absolute;
				bottom: 0;
				left: 10px;
				color: #fff;
				text-transform: uppercase;
				font-size: 15px;
				letter-spacing: .5px;
				z-index: 5;
			}
			#featured .slides {
				list-style: none;
				width: 9999px;
				position: relative;
			}
				#featured .slides #slide-1 {
					display: block;
				}
				#featured .slides li {
					position: absolute;	
					left: 0;
					top: 0;			
					display: none;
				}
					#featured .slides a { display: block; }
					#featured .slides img {
						display: block;
						height: 228px;
					}
			
			
			#featured .slide-nav {
				background: rgba(0, 0, 0, .5);
				position: absolute;
				bottom: 0;
				width: 100%;
				z-index: 4;
			}
				#featured .slide-nav ul {
					float: right;
				}
					#featured .slide-nav li {
						float: left;
						border-left: 1px solid #000;
						font-size: 15px;
					}
						#featured .slide-nav a {
							color: #fff;
							display: block;
							padding: 8px 10px 5px;
							color: #666;
						}
						#featured .slide-nav a:hover, #featured .slide-nav li.current a {
							font-weight: 700;
							color: #fff;
						}
						#featured .slide-nav li.current a { background: #000; }
	
		#news-subs {
			width: 599px;
			overflow: hidden;
			border-bottom: 1px solid #000;
			border-top: 1px solid #000;
		}
			#latest-news {
				float: left;
				border-right: 1px solid #aeaeae;
			}
				#latest-news li {
					margin-bottom: 15px;				
					overflow: hidden;
					font-size: 12px;
				}
				#latest-news li.last { margin: 0; }
					#latest-news time {
						float: left;
						display: left;
						font-size: 12px;
						border-top: 2px solid #aeaeae;
						color: #5f5e5e;
						width: 60px;
						margin-right: 10px;
						padding-top: 2px;
						text-align: right;
					}
					#latest-news a {
						float: left;
						width: 208px;
						line-height: 1.4;
					}
				#latest-news .archive {
					margin: 0;
					font-weight: 700;
					margin-top: 5px;
					margin-right: 5px;
					float: right;
					text-align: right;
				}
			
			#subs-box {
				float: right;
				border-left: 1px solid #aeaeae;
				position: relative;
				left: -2px;
			}
				#subs-box p {
					font-size: 13px;
					margin-bottom: 10px;
				}
				
				#subs-box ul {
					padding: 10px;
				}
				
				#subs-box form {
					border-bottom: 1px solid #aeaeae;
					padding-bottom: 15px;
				}
					#subs-box form label {
						position: relative;
					}
						#subs-box form input[type="email"] {
							width: 200px;
							margin-left: 5px;
						}
						#subs-box input[type="submit"] {
							z-index: 3;
							position: relative;
						}
						 #subs-box .cool-sub {
						 	margin-left: -10px;
						 }
				
			#latest-news, #subs-box {
				width: 278px;
				margin: 20px 0;
				padding: 0 10px;
			}
			
			#news-subs h1 {
				font-weight: 400;
				text-transform: uppercase;
				margin-bottom: 10px;
				color: #161617;
				font-size: 18px;
			}
			#news-subs ul { list-style: none; }
				#subs-box ul {
					margin-top: 5px;
				}
					#subs-box ul li.rss {
						float: left;
						height: 38px;
						line-height: 38px;
						font-size: 20px;
						font-weight: 700;
						width: 100px;
					}
						#subs-box ul .rss a {
							color: #f68914;
						}
					#subs-box li.twitter {
						margin-bottom: 10px;
					}
					#subs-box ul li {
						float: left;
						font-size: 13px;
					}
			
		.frontpage #artists {
			position: absolute;
			top: 0;
			left: 599px;
			height: 100%;
			width: 179px;
			border-left: 1px solid #000;
			border-right: 1px solid #000;
			overflow: hidden;
		}	
			.frontpage #artists li {
				height: 179px;
				border-bottom: 1px solid #000;
				position: relative;
			}
			#artists li {
				position: relative;
				border-bottom: 1px solid #000;
			}
				#artists li img {
					display: block;
				}
			
				#artists .title {
					position: absolute;
					bottom: 8px;
					left: 8px;
					font-weight: 700;
					text-transform: uppercase;
					color: #fff;
					font-size: 16px;
					letter-spacing: .5px;
				}
				
				.wide #artists li:hover .overlay, .wide #artists li.selected .overlay {
					visibility: visible;
				}
				
				.frontpage #artists li:hover .overlay, .frontpage #artists li.selected .overlay {
					visibility: visible;
				}
					#artists li:hover .overlay img, #artists li.selected .overlay img {
						display: none;
					}
				.frontpage #artists .overlay {
					background: url(gfx/artists-large.png) no-repeat;
					display: block;
					width: 179px;
					height: 179px;
					position: absolute;
				}
				.frontpage #artists .overlay.bigbang { background-position: 0 0; }
				.frontpage #artists .overlay.dumdum_boys { background-position: 0 -179px; }
				.frontpage #artists .overlay.bertine_zetlitz { background-position: 0 -358px; }
				.frontpage #artists .overlay.tolv_volt { background-position: 0 -537px; }
				.frontpage #artists .overlay.burning_rubber { background-position: 0 -716px; }
				.frontpage #artists .overlay.bonk { background-position: 0 -1074px; }
				.frontpage #artists .overlay.lukas_kasha { background-position: 0 -1253px; }
				.frontpage #artists .overlay.pain_of_salvation { background-position: 0 -895px; }
				
				.wide #artists .overlay {
					background: url(gfx/artists-wide.png) no-repeat;
					display: block;
					width: 241px;
					height: 59px;
				}
				.wide #artists .overlay.bigbang { background-position: 0 0; }
				.wide #artists .overlay.dumdum_boys { background-position: 0 -59px; }
				.wide #artists .overlay.bertine_zetlitz { background-position: 0 -177px; }
				.wide #artists .overlay.tolv_volt { background-position: 0 -118px; }
				.wide #artists .overlay.burning_rubber { background-position: 0 -236px; }
				.wide #artists .overlay.bonk { background-position: 0 -413px; }
				.wide #artists .overlay.lukas_kasha { background-position: 0 -295px; }
				.wide #artists .overlay.pain_of_salvation { background-position: 0 -354px; }
		
		#right-col {
			float: right;
			width: 180px;
			position: relative;
			top: 0;
		}
		#right-col.wide {
			width: 240px;
		}
		
			#right-col ul { list-style: none; }
			#right-col h1 {
				font-size: 17px;
				font-weight: 400;
				margin-bottom: 10px;
			}
			#right-col p {
				font-size: 13px;
			}
			
			#order-tickets {
				width: 195px;
				background: #b82f14;
				border-left: 1px solid #56160b;
				border-bottom: 1px solid #56160b;
				position: relative;
				left: -3px;
				margin-top: -6px;
				-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
				z-index: 3;
			}
			.wide #order-tickets {
				width: 255px
			}
			
				#order-tickets h1 {
					color: #fff;
					font-weight: 400;
					padding: 10px;
					padding-bottom: 0;
					letter-spacing: .3px;
					margin: 0;
				}
				#order-tickets .text {
					color: #2f0d06;
					text-shadow: 1px 1px #c95e49;
					padding: 10px;
					padding-bottom: 15px;
					border-bottom: 1px solid #920101;
				}
				#order-tickets .order-button {
					font-size: 16px;
					background: #a82b12;
					border-top: 1px solid #de5034;
				}
					#order-tickets .order-button a {
						color: #fff;
						display: block;
						padding: 10px;
					}
					#order-tickets .order-button a:hover {
						background: #892410;
					}
				
				#order-tickets .bottom-right {
					border-right: 12px solid transparent;
					border-top: 22px solid #56160b;
					position: absolute;
					right: 0px;
					bottom: -22px;
					width: 0;
					height: 0;
				}
				#order-tickets .top-left {
					height: 0;
					width: 0;
					position: absolute;
					left: -7px;
					top: 0;
					border-right: 7px solid #56160b;
					border-top: 5px solid transparent;
				}
			
			
			#right-col .spotify {
				background: url(gfx/spotify-bg.png) repeat-x;
				height: 60px;
				position: relative;
				border-top: 1px solid #5d992b;
			}
			#right-col .spotify:hover { background-position: 0 -60px; }
			
				#right-col .spotify a {
					display: block;
					line-height: 63px;
					padding-left: 65px;
					font-size: 16px;
					color: #30430b;
					text-shadow: 1px 1px #A5E828;
				}
				#right-col .spotify span {
					display: block;
					width: 58px;
					height: 66px;
					background: url(gfx/spotify.png) no-repeat;
					position: absolute;
					bottom: 0;
					left: 0;
				}
					
			#right-col .wimp {
				background: url(gfx/wimp-bg.png) repeat-x;
				height: 57px;
				position: relative;
			}
			#right-col .wimp:hover { background-position: 0 -57px; }
				#right-col .wimp a {
					display: block;
					line-height: 60px;
					padding-right: 80px;
					text-align: right;
					color: #4e0837;
					text-shadow: 1px 1px #fff;
				}
					#right-col .wimp span {
						background: url(gfx/wimp.png) no-repeat;
						height: 70px;
						width: 68px;
						display: block;
						position: absolute;
						right: 0;
						bottom: 0;
					}
			
			#right-col #untouched {
				min-height: 100px;
				position: relative;
				border-top: 1px solid #000;
				border-bottom: 1px solid #aeaeae;
				background: #dcdcdc;
			}
				#right-col #untouched h1 { text-indent: -9999px; }
					#right-col #untouched h1 span {
						width: 172px;
						height: 85px;
						display: block;
						background: url(gfx/untouched.png) no-repeat;
						position: absolute;
						top: -14px;
					}
					#right-col #untouched ul {
						margin-top: 60px;
						padding: 10px;
						margin-left: 15px;
						font-size: 15px;
						list-style: disc!important;
					}
						#right-col #untouched li {
							margin-bottom: 5px;
							text-shadow: 1px 1px #fff;
						}
				
			
			
			#twitter-updates, #facebook-fans { padding: 15px 10px; }
				#twitter-updates h1 { position: relative; }
					#twitter-updates .twitterbird {
						background: url(gfx/graphics.png) no-repeat;
						position: absolute;
						right: -2px;
						top: -5px;
						width: 26px;
						height: 26px;
						background-position: 0 -40px;
					}
			#facebook-fans { border-top: 1px solid #aeaeae; }
				#twitter-updates li {
					margin-bottom: 15px;
				}
					#twitter-updates h2 {
						display: inline;
						font-size: 12px;
					}
					#twitter-updates p {
						display: inline;
					}
						#twitter-updates span { color: #aeaeae; }
						
				#facebook-fans ul {
					overflow: hidden;
					margin-bottom: 10px;
				}
					#facebook-fans li { float: left; }
						#facebook-fans img {
							display: block;
							width: 31px;
						}

		
		.box-wrapper {
			float: left;
		}
		
		#random-galleries {
			clear: left;
			border-bottom: 1px solid #000;
			height: 157px;
			width: 599px;
			overflow: hidden;
		}
			#random-galleries ul {
				list-style: none;
			}
				#random-galleries li.img-3 {
				 	float: right;
				 	width: 200px;
				}
				#random-galleries li {
					float: left;
					width: 199px;
					position: relative;
				}
					#random-galleries li:hover .overlay {
						display: none;					
					}
					#random-galleries img {
						display: block;
					}
					
					#random-galleries .overlay {
						width: 199px;
						height: 200px;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 2;
						background: url(gfx/galleries.png) no-repeat;
					}
					#random-galleries .img-1 .overlay {
						background-position: 0 0;
					}
					#random-galleries .img-2 .overlay {
						background-position: -199px 0;
					}
					#random-galleries .img-3 .overlay {
						background-position: -398px 0;
						width: 200px;
						left: -1px;
					}
			
		#map {
			width: 599px;
			min-height: 300px;
			position: relative;
		}
			#map h1 {
				position: absolute;
				z-index: 3;
				background: rgba(0, 0, 0, .7);
				width: 100%;
				color: #fff;
				font-weight: 400;
				text-transform: uppercase;
				font-size: 15px;
			}
				#map h1 span {
					display: block;
					padding: 7px 10px;
				}
				
			#googlemaps {
				height: 401px;
			}
		
		
		#content {
			float: left;
			width: 720px;
		}
			#subnav {
				background: #262629;
				border-top: 1px solid #313131;
				height: 28px;
				padding: 0 10px;
				width: 699px;
			}
				#subnav p {
					color: #fff;
					font-size: 12px;
					float: left;
					line-height: 28px;
				}
					#subnav p a {
						color: #56aad4;
					}
					
				#subnav ul {
					float: right;
				}
					#subnav li {
						display: block;
						float: left;
					}
					#subnav ul li.selected {
						position: relative;
					}
						#subnav li.selected a { background: #000; }
						#subnav li.selected a:hover { text-decoration: none; }
						#subnav li a:hover { text-decoration: underline; }
						#subnav li a {
							padding: 0 10px;
							display: block;
							color: #fff;
							font-size: 12px;
							line-height: 28px;
						}
						#subnav li .arrow {
							background: url(gfx/black-arrow.png) no-repeat top;
							height: 5px;
							display: block;
							position: relative;
						}
			
			#content .heading {
				font-size: 34px;
				line-height: 1.2;
			}
			
			#article {
				padding: 10px;
			}
			#article .images {
				float: right;
				margin: 10px;
				margin-right: 0;
				padding: 1px;
				border: 1px solid #eaeaea;
			}
				#article .images .main {
					display: block;
					margin-bottom: 1px;
				}
				#article .images .thumbs a {
					float: left;
					display: block;
					margin-left: 1px;
					width: 99px;
				}
				#article .images .thumbs a:first-of-type {
					margin-left: 0;
					width: 100px;
					height: 99px;
				}
					#article .images .thumbs img { display: block; }
				
				#article-meta {
					float: left;
					width: 150px;
					margin-top: 13px;
					padding-top: 10px;
					border-top: 2px solid #adadad;
					position: relative;
				}
					#article-meta .byline { }
						#article-meta .byline h2 {
							margin-left: 50px;
							font-size: 14px;
							width: 100px;
							line-height: 1.4;
						}
							#article-meta .byline h2 a {
								font-style: normal;
							}
						#article-meta .byline img {
							padding: 3px;
							border: 1px solid #eaeaea;
							float: left;
							position: absolute;
							top: 7px;
							width: 35px;
						}
						#article-meta time {
							font-size: 12px;
							margin-left: 50px;
							line-height: 1.4;
							color: #3D3D3D;
							width: 100px;
							display: block;
						}
						
					#article-meta .share {
						padding-top: 20px;
						margin-top: 15px;
						border-top: 1px solid #adadad;
					}
						#article-meta .share h2 {
							font-size: 14px;
						}
						#article-meta .share ul{
							overflow: hidden;
							margin: 3px;	
							margin-bottom: 15px;					
						}
							#article-meta .share li {
								text-indent: -9999px;
								height: 16px;
								width: 16px;
								margin-right: 5px;
								float: left;
								list-style: none;
							}
								#article-meta .share li span {
									display: block;
								}
							
					#article-meta .short-url {
						clear: both;
						border-top: 1px solid #eaeaea;
						padding-top: 15px;
					}
						#article-meta .short-url h3 {
							font-size: 12px;
						}
						#article-meta .short-url input {
							border: 1px solid #C7C7C7;
							margin-top: 5px;
							padding: 2px;
							width: 130px;
							background: #eee;
							-moz-border-radius: 2px;
							-moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .1);
						}
				#article-meta + .entry {
					margin-left: 160px;
				}
				
				.entry {
					margin-top: 10px;
				}
					.entry p {
						font-size: 14px;
						margin-bottom: 15px;
					}
					.entry h2 {
						font-size: 22px;
						margin-bottom: 10px;
						padding-top: 5px;
					}
					.entry h3 {
						font-size: 16px;
						margin-bottom: 5px;
					}
					
					
					.entry .program {
						width: 100%;
						margin-top: 20px;
					}
					.entry .program + .program { margin-top: 40px; }
						.entry .program .time { text-align: right; }
						.entry .program .artist-name { width: 300px; }
						.entry .program caption {
							text-align: left;
							font-size: 18px;
							color: #3a3a3a;
							font-weight: 700;
							margin-bottom: 7px;
						}
						.entry .program thead {
							background: #0a1d26;
						}
							.entry .program th {
								color: #fff;
								text-transform: uppercase;
								text-align: left;
								font-weight: 400;
								font-size: 14px;
							}
						.entry .program tbody tr {
							border-bottom: 1px solid #ababab;
						}						
							.entry .program th, .entry .program td {
								padding: 7px 10px 5px;
							}
							.entry .program td {
								font-size: 13px;
							}
				
				.contact .entry {
				}
				.contact #map {
					float: right;
					width: 340px;
					margin: 10px;
					margin-right: 0;
				}
				
				#contact-form {
					border-top: 1px solid #EAEAEA;
					padding-top: 20px;
				}
					#contact-form h2 {
						font-size: 21px;
						margin-bottom: 15px;
					}
					#contact-form ul {
						list-style: none;
						margin-top: 15px;
					}
						#contact-form li {
							padding: 10px 0;
						}
							#contact-form label input {
								width: 250px;
							}
						#contact-form .name, #contact-form .email {
							float: left;
							width: 300px;
						}
						
						#contact-form .who {
							clear: both;
						}
						#contact-form textarea {
							width: 548px;
							height: 100px;
						}
					#contact-form input[type="submit"] {
						float: right;
						margin: 10px;
						margin-right: 140px;
					}
						
				#printer {
					position: relative;
					float: right;
				}
					#printer a {
						display: block;
						width: 176px;
						height: 29px;
						background: url(gfx/printer.png) no-repeat 0 -1px;
						color: #000;
						text-shadow: 1px 1px #4a88a6;
						font-weight: 700;
						line-height: 31px;
						padding-left: 10px;
						margin-top: 10px;
					}
					#printer a:hover {
						background-position: 0 -32px!important;
						text-shadow: 1px 1px #67BFE9!important;
					}
					#printer a:active {
						background-position: 0 -63px;
						outline: none;
					}
					
				.popdown {
					background: #e7e7e7;
					border: 1px solid #000;
					width: 215px;
					-moz-border-radius: 3px;
					-moz-border-radius-topright: 0;
					position: absolute;
					right: 0;
					top: 36px;
					-moz-box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .5);
				}
					.popdown h2 {
						font-size: 14px;
						margin-bottom: 5px;
					}
					.popdown form {
						border-top: 1px solid #fff;
						padding: 10px;
						overflow: hidden;
					}
						.popdown ul { list-style: none; }
							.popdown li {
								margin-bottom: 5px;
							}
								#mainframe .popdown form span {
									display: inline!important;
									font-size: 12px;
									padding-left: 5px;
								}
								.popdown form label input {
									display: inline;
									margin: 0;
								}
								
						.popdown input[type="submit"] {
							text-transform: none;
							padding: 0 3px 2px;
							font-size: 13px;
							float: right;
						} 
				
				#comments {
					border-top: 1px solid #eaeaea;
					padding-top: 20px;
				}
					#comments h2 {
						font-weight: 400;
						font-size: 21px;
						margin-bottom: 20px;
					}
					
					#comments nav {
						padding: 10px;
						overflow: hidden;
						border-top: 1px solid #eaeaea;
					}					
						#comments nav ul {
							float: right;
							margin-top: 2px;
						}
							#comments nav ul li {
								float: left;
								margin-left: 5px;
								font-size: 13px;
							}
								#comments nav li a {
									padding: 5px;
								}
								#comments nav li.current a {
									color: #3D3D3D;
									font-weight: 700;
								}
								
						#comments nav p {
							float: left;
							color: #8a8a8a;
							font-size: 13px;
						}
					
					#comments article {
						margin-bottom: 20px;
						clear: left;
						overflow: hidden;
					}
						#comments article h3, #comments article time {
							display: inline;
							font-size: 14px;
						}
						#comments article h3:after {
							content: ',';
							font-weight: 400;
						}
						#comments article time {
							text-transform: lowercase;
							color: #5e5e5e;
						}
						#comments article img {
							float: left;
							padding: 2px;
							border: 1px solid #adadad;
							margin: 5px 10px 5px 0;
						}
						#comments article p {
							margin-top: 5px;
							font-size: 14px;
						}
						
					#respond {
						border-top: 1px solid #eaeaea;
						padding-top: 20px;
						clear: both;
					}						
						#respond h3 {
							font-weight: 400;
							font-size: 21px;
						}
						#respond .rules {
							float: right;
							width: 215px;
							margin-bottom: 15px;
							margin-top: -20px;
							border-left: 1px solid #eaeaea;
							padding: 20px 0 15px 10px;
						}
							#respond .rules p {
								font-size: 14px;
							}
							#respond .rules fieldset {
								height: 100px;
								margin-top: 15px;
							}
						#respond .form {
							width: 470px;
							float: left;						
						}
							#respond ul {
								list-style: none;
								margin-top: 20px;
							}
									
								#respond .name, #respond .email {
									float: left;
								}
								#respond .email {
									margin-left: 20px;
								}
									#respond label input {
										width: 206px;
									}
								#respond .message {
									clear: both;
									padding-top: 20px;
								}
									#respond textarea {
										width: 445px!important;
										height: 75px;
									}
								
							#respond input[type="submit"] {
								float: right;
								margin: 10px;
							}
	
	#foot-nav {
		overflow: hidden;
		margin-top: 20px;
		background: url(gfx/shadow.png) repeat-x bottom left;
		padding-bottom: 5px;
		clear: both;
	}
		#foot-nav div {
			border: 1px solid #000;
			background: #161617;
			overflow: hidden;
		}
		#foot-nav nav {
			overflow: hidden;
			margin: 10px 0;
			float: left;
			border-right: 1px solid #333;
		}
			#foot-nav ul {
			}
			#foot-nav ul:first-of-type {
				padding-left: 15px;
			}
			#foot-nav ul:last-of-type {
				padding-right: 15px;
			}
	
			#foot-nav li {
				float: left;
				margin-right: 20px;
			}
				#foot-nav li ul {
					margin-top: 5px;
					border: 0;
					padding: 0!important;
				}
					#foot-nav li li {
						float: none;
						margin-bottom: 5px;
					}
					
					#foot-nav li a {
						color: #fff;
						font-size: 15px;
					}
						#foot-nav li li a {
							color: #7d7d7d;
							font-size: 13px;
						}
		#foot-nav section {
			float: right;
			padding: 10px;
		}
			#foot-nav section address {
				width: 225px;
				float: left;
			}
			#foot-nav section p strong {
				color: #fff;
			}
			#foot-nav section p {
				color: #7D7D7D;
				font-size: 12px;
				font-style: normal;
			}
						
input[type="submit"] {
	-moz-border-radius: 5px;
	padding: 3px;
	border: 1px solid #80bfde;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	background: -moz-linear-gradient(-90deg, #2a7296, #1c4d66);
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	text-shadow: 1px 1px #4a88a6;
	font-size: 14px;
	margin-left: -10px;
	cursor: pointer;
	-moz-box-shadow: 0 0 0 1px #000000;
}
input[type="submit"]:hover {
	background: -moz-linear-gradient(-90deg, #3e8cb2, #266180);
}

.cool-sub {
	display: inline-block;
	padding-right: 8px;
	height: 28px;
	background: transparent url(gfx/button-right.png) right no-repeat;
}
	.cool-sub input {
		padding-left: 8px;
		height: 28px;
		margin-right: 8px;
		background: url(gfx/button-left.png) left no-repeat;	
		border: 0;
	}



#content label span {
	display: block;
}
#mainframe label input[type="text"], #mainframe label input[type="email"], #mainframe label textarea {
	background: #fff;
	-moz-border-radius: 5px;
	border: 1px solid #979797;
	padding: 6px;
	z-index: 0;
	position: relative;
	-moz-box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, .2);
}
#mainframe label input[type="text"]:focus, #mainframe label input[type="email"]:focus, #mainframe label textarea:focus {
	background: #ffffea!important;
}

#mainframe label span {
	color: #0a1d26;
	font-size: 16px;
	margin-bottom: 5px;
	cursor: pointer;
}
	#mainframe label span small { font-size: 12px; }
	

.icon {
	background: url(gfx/graphics.png) no-repeat;
	display: inline-block;
	margin-right: 5px!important;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
}
.icon.rss {
	height: 31px;
	width: 31px;
	background-position: 0 0;
	vertical-align: -7px;
}
.icon.twitter { background-position: -31px 0; }
.icon.facebook { background-position: -31px -16px; }
.icon.digg { background-position: -47px 0; }
.icon.delicious { background-position: -47px -16px; }

.icon.heart {
	background-position: -47px -47px;
	margin-left: 5px;
}

button.connect {
	background: transparent url(gfx/graphics.png) no-repeat;
	width: 121px;
	height: 33px;
	display: block;
	text-indent: -9999px;
	border: 0;
	cursor: pointer;
}
button.connect.facebook { background-position: -174px -1px; }
button.connect.twitter { background-position: -174px -39px; }


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}